<h1>
  <img src="/images/logos/logo_transparent.png" style="width:300px;height:300px;" class="center">
</h1>
<nav>
  <a href="/category/cafe">Cafes</a>
  <a href="/category/event">Event</a>
  <a href="/category/shop">Shops</a>
</nav>