<!DOCTYPE html>
<html>
<<<<<<< HEAD
=======
    <head>
        <meta charset = "utf-8">
        <title>Express Yourself</title>
        <link rel = 'stylesheet'  type="text/css" href = '/styles/main.css'>
    </head>
>>>>>>> d2c821736ec56c6ecb8ddda97226e44eb4c31f5b

<head>
    <meta charset="utf-8">
    <title>Express Yourself</title>
    <link rel='stylesheet' href='/main.css'>
</head>

<body>
    {{{header}}}
    {{{body}}}
</body>

<footer>
    <p>&copy; Expresss Yourself</p>
</footer>

</html>