<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Express Yourself</title>
        <link rel = 'stylesheet' href = '/main.css'>
    </head>

    <body>
        {{{body}}}
    </body>

    <footer>
        <p>&copy; Expresss Yourself</p>
    </footer>
</html>