

@import url('https://fonts.googleapis.com/css?family=Rozha+One&display=swap');

h1 {

}
.center {
    
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav{
    font-family: 'Rozha One', serif;
    color: black;
    text-decoration: none;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
  background-color: rgb(245, 227, 220)
}

footer {


}